<?xml version="1.0"?>
  <appSettings>
    <add key="swaggerUrl" value="http://localhost:50723/"/>
    <add  key="MysqlConnection" value="Data Source=192.168.1.2;port=3306;Initial Catalog=vida_community;user id=root;password=root;Charset=utf8;" />
    <add  key="DataProvider" value="mysql" />

    <add key="OAuthServiceURL" value="https://api.vidahouse.com/profiles/v1.0/users"/>
    <!--七牛云-->
    <add key="QinIuAccessKey" value="YiB9Ixoi1nlTc_b_H4uxbhxFyo9b4WMqQbuQT7Ms"/>
    <add  key="QinIuSecretKey" value="eihRXEzhoWbyQ1dkjsWfuqsGH2FuUWJqGdoSsq8o"/>
    <add key="QinIuScope" value="upload"/>
    <add key="QinIuExpires" value="600"/>
  
  </appSettings>

